// Media
$cursor: '(hover: hover) and (pointer: fine)';
$touch: '(pointer: coarse)';

// Z-index
$zHeaderMobileMenu: 15;
$zHeader: 20;
$zModal: 30;
$zPopup: 40;

$paddingPhone: 10px;

$font-size-l: 15px;
$font-size-m: 13px;
$font-size-xl: 16px;
$font-size-xxl: 24px;
