html,
body {
  padding: 0;
  margin: 0;
}

html{
  font-size: 14px;
}

body{
  overflow-x: hidden;
  &.no-scroll{
    position: relative;
    overflow: clip;
  }
  font-family: Lato,Helvetica,sans-serif;
  //font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

p{
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
