html,
body {
  padding: 0;
  margin: 0;
}

html{
  font-size: 14px;
}

body{
  overflow-x: hidden;
  &.no-scroll{
    position: relative;
    overflow: clip;
  }
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

p{
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
